

<div class="znak">
<%= image_tag("Mohelnice.png", alt: "znak", align: "left") %>
</div>
<div class="center hero-unit">

  <h1>Mohelnická farnost</h1>

  <h2>
    <a>Tyto stránky prezentují Římskokatolickou farnost Mohelnice</a>
  </h2>

  <%= link_to "Zaregistrovat nyní", signup_path, class: "btn btn-large btn-primary" %>
</div>
<div class="center2 hero-unit" >

<h2>Naše farnost se setkává pravidelně na mše sv.. Rozpis bohoslužeb  </h2>
</div>

<div class="center3 hero-unit" >
<h2>Farní chrám je místem, kde se farnost shromažďuje, aby jsme chválili naše Pána.</h2>
</div>

<div class="center4 hero-unit" >
<strong>Společenství</strong><br>

</div>

