<footer class="footer">
  <small>
    Stránky vytvořil Jan Vykydal
  </small>
  <nav>
    <ul>
      <li><%= link_to "O mě",   about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><%= link_to "Novinky", news_path %></li>
    </ul>
  </nav>
</footer>
